* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  margin: 0%;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 830px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}
.main {
  width: 870px;
}
.main + .sidebar {
  margin-left: 30px;
}
.sidebar {
  width: 270px;
  min-width: 200px;
}
@media (max-width: 829px) {
  .sidebar {
    /* display: none; */
    position: fixed;
    margin-left: 0 !important;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.37);
    overflow-y: scroll;
    /* transform: translateX(-120%); */
  }
  .container {
    width: 600px;
  }
}

.card {
  width: 270px;
  background-color: white;
  position: relative;
}
.cards__holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
@media (max-width: 599px) {
  .cards__holder {
    flex-direction: column;
    align-items: center;
  }
}
.card__badges {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: flex;
  position: absolute;
  top: 10px;
  left: 16px;
  right: 20px;
}
.card__badges > * + * {
  margin-left: 10px;
}

.card__badge {
  background-color: #ffcf26;
  border-radius: 4px;
  height: 23px;
  padding: 3px 10px;
}
.card__badge--class {
  background-color: #ffcf26;
}
.card__badge--credit {
  background-color: #11be75;
  color: white;
}

.card__content {
  padding: 0 15px 20px;
}
.card__title {
  margin-top: 12px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.card__term {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.card__metro {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.card__metro::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 11px;
  background-image: url(../sourses/img/metro.jpg);
  background-repeat: no-repeat;
  background-size: initial;
  vertical-align: baseline;
  margin-right: 10px;
}
.card__adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
.card__link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.card__link:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}
.more {
  width: 100%;
  height: 80px;
  background: #e5e5e5;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  text-align: center;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #4290c9;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.more:hover {
  background: #ccc;
}
.more img {
  margin-right: 10px;
  vertical-align: bottom;
}

/*Side bar*/

.widget + .widget {
  margin-top: 30px;
}
.widget__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}
.widget__title::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../sourses/img/arrow.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

/*.widget__body {
}*/

/*LOCATION BUTTONS GROUP*/

/*.location--group {
}*/
.location--group__row {
  display: flex;
}
.location__btn {
  flex-grow: 1;
  font-family: inherit;
  padding: 0 15px;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3c3c3c;
  border: none;
  text-align: center;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  line-height: 50px;
}

.location--group__row:first-child {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  border: 1px solid #d6d6d6;
}
.location--group__row:last-child {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d6d6d6;
  border-top: none;
}
.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.location__btn:hover {
  background-color: #ffd0267e;
}
.location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}
.location__checkbox:checked + .location__btn:hover {
  background-color: #d1ab1f7e;
}

/* RADIO */

.radio {
  display: block;
  cursor: pointer;
}
.radio + .radio {
  margin-top: 15px;
}
.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.radio__real:checked ~ .radio__title {
  font-weight: 500;
}
.radio__real:checked + .radio__fake {
  background-color: #ffe074;
}
.radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: #777777;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.radio__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #777777;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: bottom;
}
.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* CHECKBOX */

.checkbox {
  display: block;
  cursor: pointer;
}
.checkbox + .checkbox {
  margin-top: 15px;
}
.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.checkbox__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #777777;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: bottom;
}
.checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
}
.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}
.checkbox__real:checked + .checkbox__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  background-image: url(../sourses/img/check.svg);
  background-position: center;
  background-size: initial;
}
.hidden-elements {
  display: none;
}
.show-more {
  display: inline-block;
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4290c9;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s ease-in;
  padding: 0;
}
.show-more:hover {
  opacity: 0.8;
  text-decoration: underline;
}
.hidden-elements + .show-more {
  margin-bottom: 15px;
}
/* TOGGLE */

.toggle {
  position: relative;
  cursor: pointer;
}
.toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}
.toggle__fake {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
  background-color: #c4c4c4;
  border-radius: 10px;
  vertical-align: bottom;
  margin-right: 10px;
}
.toggle__fake::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 16px;
  height: 16px;
  background: #3c3c3c;
  border-radius: 50%;
}

.toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.toggle__real:checked ~ .toggle__title {
  font-weight: 500;
}
.toggle__real:checked + .toggle__fake {
  background-color: #ffe074;
}
.toggle__real:checked + .toggle__fake::before {
  left: 19px;
  /* right: 2px; */
}

/* FORM BUTTONS */

.form__btn {
  font-family: inherit;
  height: 50px;
  width: 100%;
  background-color: transparent;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #3c3c3c;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.form__btn + .form__btn {
  margin-top: 10px;
}
.form__btn img {
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -2px;
}
.form__btn:hover {
  background-color: rgb(223, 223, 223);
}
.form__btn_submit {
  background-color: #ffcf26;
  color: #000000;
  border: none;
}
.form__btn_submit:hover {
  background-color: rgb(224, 186, 47);
}

/* Button Toggle Sidebar */

.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 9;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  background-color: rgb(71, 71, 71);
  justify-content: center;
  align-items: center;
}

@media (max-width: 829px) {
  .toggle-sidebar {
    display: flex;
  }
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
